@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
html{
    background-image: url("photo-of-string-lights-749386.jpg");
    position: relative;
    font-family: Architects Daughter;
    font-size: 19px;
    color: #CDA551;
    padding: 125px;
}
.row{
    display: flex;
    float: left;
    width: 100%;
    background-color: rgba(92, 4, 17, 0.89);
    opacity: 99%;
    border: 1px solid black;
    margin-bottom: 1px;
}
.col1{
    display: flex;
    float: left;
    background-color: rgba(78, 12, 22, 0.911);
    width: 20%;
    height: 600px;
    border: 1px solid black;
    border-right: 5px;
    
    
}
.col2{
    display: flex;
    float: right;
    background-image: url("red29.jpg");
    width: 79.6%;
    height: 600px;
    border: 1px solid black;
}

li{
    list-style-type: none;
}
a{
    color: black;
}
a:hover{
    color: rgb(255, 159, 80);
}

div.col2{
border: none;
padding: 5px;
font: 28px aerial;
width: 79%;
height: 592px;
overflow-y: scroll;
}
h3{
    display: inline-block;
    height: 60px;
    width: 10000px;
    border: solid black;
}
p{
    margin-top: 150px;
    margin-right: 500px;
}














/*.Header_Title {
    font-family: "Decotura ICG";
    font-size: xx-large;
}
.auto-style1 {
    font-family: "Decotura ICG";
    font-size: xx-small;
}
.auto-style2 {
    vertical-align: top;
}


<body style="margin: 4px; background-color: #4E0C16; border-color: #C52D37">

    <p class="auto-style1" style="height: 112px; border: thick #C52D37
     none">&nbsp;s<img alt="" class="auto-style2" height="100" src="Header_Red.jpg"
      width="600" />&nbsp; </p>