































/*html{
    background-color: #611F29;
}
a:visited {
	color: #CDA551;
}
a:active {
	color: #CDA551;
}
a:hover {
	color: #CDA551;
}
a {
	color: #CDA551;
	text-decoration: none;
}






.auto-style1 {
	font-family: Ebrima;
	font-size: small;
	text-decoration: none;
}
.auto-style2 {
	color: #CDA551;
	text-decoration: none;
}
