@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
html{
    font-family: Architects Daughter;
    background-image: url("red29.jpg");
}
.col1{
width: 50%;
border: black solid;
display: flex;
float: left;
}
img{
    width: 90%;
    border: solid black;
}
.col2{
width:49%;
height: 965px;
border: black solid;
display: flex;
float: right;
}
h3{
    display: flex;
    float: ;
}
.col3{
    border: solid black;
    height: 100px;
    margin-top: 90px;
}
.row1{
    border: solid black;
    width: 100%;
    height: 100px;
}


