@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
html{
    font-family: Architects Daughter;
    background-image: url("red-trees-1547813.jpg");
    background-image: fixed;
}
.row2 {
    background-color: rgb(78, 21, 10);
    overflow: hidden;
    border: rgb(53, 5, 5) solid 2px;
  }
  
  /* Style the links inside the navigation bar */
  .row2 a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 21px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .row2 a:hover {
    background-color:rgb(78, 21, 10);
    color: rgb(255, 159, 80);
  }
  
  /* Add a color to the active/current link */
  .row2 a.active {
    background-color:rgb(78, 21, 10) ;
    color: rgb(255, 159, 80);
  }
  .col1{
      width: 125%;
      padding-left: 30px;
  }
  #spring{
      width: 40%;
      margin-top: 10px;
      border: solid black;
      

  }
  .row1{
      background-color: rgb(78, 21, 10);
      border: rgb(53, 5, 5) solid 1px;
  }
  .col2{
      margin-left: 800px;
      font-size: 15px;
      position: relative;
      top: -490px;
      background-image: url("abstract-ancient-antique-art-235985.jpg");
      padding-left: 80px;
      padding-top: 10px;
      padding-bottom: 30px;
      font-family: Kaushan Script;
      border: black 1px solid;
      
      
      
  }



